:root {
    --pink-light: #fff5f8;
    --pink-dark: #ff85a2;
    --gold: #d4af37;
    --night: #0a1128;
}

body {
    margin: 0; height: 100vh; display: flex; 
    justify-content: center; align-items: center;
    background: #fdf2f8; overflow: hidden;
    cursor: url('https://cur.cursors-4u.net'), auto;
}

.scene {
    width: 350px; height: 500px;
    perspective: 2000px;
    display: flex; justify-content: center; align-items: center;
    transform: translateX(0); 
}

.book { position: relative; width: 100%; height: 100%; transform-style: preserve-3d; }

.paper {
    position: absolute; width: 100%; height: 100%;
    transform-origin: left; transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform-style: preserve-3d;
}

.front, .back {
    position: absolute; width: 100%; height: 100%;
    backface-visibility: hidden; background: white;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
    border-radius: 0 15px 15px 0;
}

.back { transform: rotateY(180deg); border-radius: 15px 0 0 15px; }

.cover-art {
    background: var(--night); height: 100%; color: white;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    position: relative; overflow: hidden;
}

.signature {
    position: absolute; bottom: 20px; font-family: 'Dancing Script', cursive;
    font-size: 1.5rem; color: var(--gold);
}

.ramadan-moon {
    width: 60px; height: 60px; border-radius: 50%;
    box-shadow: 15px 15px 0 0 #fffbe6; transform: rotate(-15deg);
    margin-bottom: 50px;
}

.golden-ratio { display: grid; grid-template-rows: 1.618fr 1fr; height: 100%; }
.photo-frame img { width: 100%; height: 85%; object-fit: cover; center ;}
.text-frame { padding: 20px; text-align: center; font-family: 'cursive' }

.thought-bubble {
    position: absolute; top: -30px; left: -70px;
    background: white; padding: 5px 10px; border-radius: 15px;
    font-size: 10px; color: #ff85a2; border: 1px solid #ffc1e3;
    white-space: nowrap;
}

@keyframes float {
    0%, 100% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(-10px) rotate(3deg); }
}

.calculator {
    background: white; padding: 15px; border-radius: 20px;
    border: 2px solid var(--pink-dark); width: 85%;
}
#display {
    background: var(--pink-light); color: var(--pink-dark);
    padding: 10px; border-radius: 10px; text-align: right; font-size: 1.2rem;
}
.keys { display: grid; grid-template-columns: repeat(4, 1fr); gap: 5px; margin-top: 10px; }
button {
    border: none; background: var(--pink-light); color: var(--pink-dark);
    padding: 10px; border-radius: 10px; cursor: pointer; font-weight: bold;
}
.btn-equal { background: var(--pink-dark); color: white; grid-column: span 2; }

.flipped { transform: rotateY(-180deg); }

@keyframes bounce { 0%, 100% {transform: translateY(0);} 50% {transform: translateY(-10px);} }
